<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ student.first_name }} {{ student.last_name }}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>{{ student.first_name }} {{ student.last_name }}</h1>
    <p>Email: {{ student.username }}@oxy.edu</p>
    <p>Majors: {{ student.majors }}</p>
    <p>Advisor: {{ student.advisor }}</p>
    <p>
        <a href="/directory/{{ prev_student.username }}">Previous</a>
        <a href="/directory/{{ next_student.username }}">Next</a>
    </p>
</body>
</html>